.svgIconsPreviewer {
}

.itemsContainer {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #eee;
}

.item {
  display: inline-flex;
  flex-direction: column;
  width: 20%;
}

.itemRenderer {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
}

.itemName {
  padding: 4px 12px 8px;
  text-overflow: ellipsis;
  text-align: center;
  overflow: hidden;
}

.filterInput {
  max-width: 500px;
  margin: 0 auto 20px auto;
}
